<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
      {% load static %}
    {% block css %} {% endblock css%}
  </head>

<body>
  <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="/">Covid19 Tracker</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item active">
                     <a class="nav-link" href="/">State Wise Report<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="/case_time_series">Daily Report<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="/state_district_wise">State Details Report<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="/graph_data">Graph Data<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="#">Contuct Us<span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item active">
                     <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
                 </li>
             </ul>
         </div>
     </nav>
  </header>
  {% block content %}

  {% endblock content %}





  <footer>
    <p>Copyright @Neeraj <span id="footer_year">Current Year</span></p>
    <p>Designed And devloped By Neeraj Kumar Jangir</p>
  </footer>

  <script>

      var n = new Date()
      var s = n.getFullYear()
      document.getElementById("footer_year").innerText = s
      console.log(s)

        // var wid = screen.width;
        // console.log(wid)
        if (screen.width < 675){
          alert('Your Device width is less then 675px, For Batter View of graph Please open in chrome with "Desktop Mode."')
        };

  </script>
  {% block scripts %}

  {% endblock scripts %}
</body>
